<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292524733746-rp7n8n29bdag3j9ktavhnuge27iilhnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292524733746-rp7n8n29bdag3j9ktavhnuge27iilhnt</string>
	<key>API_KEY</key>
	<string>AIzaSyDiqVrG-04xDSOwF8CfnP8NqE_IDBpIAbI</string>
	<key>GCM_SENDER_ID</key>
	<string>292524733746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.morehands.morehands</string>
	<key>PROJECT_ID</key>
	<string>morehandsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>morehandsapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292524733746:ios:1d36b7a44832fd6f4b932b</string>
</dict>
</plist>